@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}


/* General styles for nav links */
.nav-item {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Before pseudo-element for the border */
.nav-item::before {
  cursor: pointer;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: blue ;
  transition: width 0.3s ease-in-out;
}

/* Hover state for the border to grow from left to right */
.nav-item:hover::before {
  width: 100%;
}

/* Active link will have the full border by default */
.active::before {
  width: 100%;
}


/* Submenu container */
.submenu {
position: absolute;
left: 0;
top: 40px; /* Position submenu just below the parent */
display: flex;
flex-direction: column;
background-color: white;
border: 1px solid #ebebeb;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
opacity: 0;
visibility: hidden;
transform: translateY(10px);
transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s; /* Add delay to visibility */
z-index: 10;
font-size: 16px;
width: 250px;
border-radius: 10px;

}

/* Submenu items */
.submenu-item {
padding: 10px 20px;
text-decoration: none;
transition: color 0.4s;

width: 100%;
}

.submenu-item:hover {
color: blue;
}

/* Show submenu on hover */
.group:hover .submenu {
opacity: 1;
visibility: visible;
transform: translateY(0);
transition: opacity 0.5s ease, transform 0.4s ease; /* Remove delay when showing */
}


@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

.animate-floating-icon1 {
  animation: floating 15s ease-in-out infinite;
}
@keyframes floating {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-floating-icon2 {
  animation: floating 11s ease-in-out infinite;
}
@keyframes floating {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
}

.animate-floating-icon3 {
  animation: floating 10s ease-in-out infinite;
}

